$small-device-width: 576px;
$medium-device-width: 768px;

$black: #000000;
$white: #ffffff;

$default-pixel-color: $white;

$default-pixel-border: 1px solid $black;

body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
}

.website-center {
  display: flex;
  justify-content: center;
}

.container-reset {
  padding-left: 0;
  padding-right: 0;
}

.tools {
  display: flex;
  div {
    border: $default-pixel-border;
  }
}

.pixelColor {
  display: flex;
  flex-direction: column;

  label {
    text-align: center;
  }

  input {
    align-self: center;
  }
}
.fill {
  display: flex;
  flex-direction: column;

  label {
    text-align: center;
  }
}

.grid {
  display: inline-block;

  br {
    display: block;
    content: "";
    margin-top: -10px;
  }
}

.pixel {
  background-color: $default-pixel-color;
  border-top: $default-pixel-border;
  border-left: $default-pixel-border;
  border-bottom: $default-pixel-border;
  border-right: 0;
}

.pixel.last-column {
  border-right: $default-pixel-border;
}

.download {
  display: flex;

  div {
    border: $default-pixel-border;
  }
}

@media only screen and (max-width: $medium-device-width) {
  body {
    font-size: 15px;
    line-height: 15px;
  }

  h1 {
    font-size: 45px;
    line-height: 45px;
  }

  h2 {
    font-size: 30px;
    line-height: 30px;
  }
}

@media only screen and (max-width: $small-device-width) {
  body {
    text-align: center;
  }

  .tools {
    flex-direction: column;
  }

  .download {
    flex-direction: column;
    align-items: center;
  }
}
