$small-device-width: 576px;

$default-pixel-color: #ffffff;

$default-border: 1px solid #000000;

.website-center {
  display: flex;
  justify-content: center;
}

.container-reset {
  padding-left: 0;
  padding-right: 0;
}

.tools {
  display: flex;
  div {
    border: $default-border;
  }
}

.pixelColor {
  display: flex;
  flex-direction: column;

  label {
    text-align: center;
  }

  input {
    align-self: center;
  }
}
.fill {
  display: flex;
  flex-direction: column;

  label {
    text-align: center;
  }
}

.grid {
  display: inline-block;

  br {
    display: block;
    content: "";
    margin-top: -10px;
  }
}

.pixel {
  background-color: $default-pixel-color;
  border-top: $default-border;
  border-left: $default-border;
  border-bottom: $default-border;
  border-right: 0;
}

.pixel.last-column {
  border-right: $default-border;
}

.download {
  display: flex;

  div {
    border: $default-border;
  }
}

@media only screen and (max-width: $small-device-width) {
  body {
    text-align: center;
  }

  .tools {
    flex-direction: column;
  }

  .pixelColor {
    flex-direction: row;
  }

  .fill {
    flex-direction: row;
  }

  .download {
    flex-direction: column;
    align-items: center;
  }
}