$font-color: #000000;
$danger-color: #ff0015;

$website-background-color: #ffdd99;
$input-background-color: #fff7e5;

$tools-background-color: #99bbff;
$download-background-color: #dd99ff;

$default-pixel-color: #ffffff;
$background-color-modal-reset: rgba(0, 0, 0, 0.4);