<!DOCTYPE html>
<html>
{{> head}}

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{> introduction}}

                {{> tips}}

                <form action="javascript:makeScreenshotOfPixelPicture()">
                    {{> tools}}

                    {{> createPicture}}
                </form>
            </div>
        </div>
    </div>
</body>
</html>