<section id="createPicture">
    <div id="picture">
        <h2>{{CREATE_PICTURE.title}}</h2>
        <div id="gridContainer" class="grid-container">
            <div id="grid" class="grid">
                <script>generateGrid();</script>
            </div>
        </div>
    </div>
    <div id="download" class="download">
        <div class="col-md-4">
            <label for="fileName">{{CREATE_PICTURE.download.fileName.label}}</label>
            <input type="text" id="fileName" name="fileName" required/>
        </div>
        <div class="col-md-4">
            <label for="fileType">{{CREATE_PICTURE.download.fileType.label}}</label>
            <select id="fileType" name="fileType">
                <script>generateFileTypeOptions();</script>
            </select>
        </div>
        <div class="col-md-2">
            <input type="submit" value="{{CREATE_PICTURE.download.submitText}}"/>
        </div>
    </div>
</section>