<div id="modal-reset" hidden>
    <div class="modal-reset">
        <h3>{{modalReset.title}}</h3>
        <p>{{modalReset.paragraph}}</p>
        <div class="buttons">
            {{>button buttonText=modalReset.reset.buttonText type="button" class="reset-button"
                    onclick="triggerResetButtonFromModal()"}}

            {{>button buttonText=modalReset.cancel.buttonText type="button" class="cancel-button"
                    onclick="cancelModalReset()"}}

        </div>
    </div>
</div>