<div id="modalReset" hidden>
    <div class="modal-reset">
        <h3>{{modalReset.title}}</h3>
        <p>{{modalReset.paragraph}}</p>
        <div class="buttons">
            <button type="button" class="reset-button" onclick="triggerResetButtonFromModal()">
                {{modalReset.reset.buttonText}}
            </button>
            <button type="button" class="cancel-button" onclick="cancelModalReset()">{{modalReset.cancel.buttonText}}
            </button>
        </div>
    </div>
</div>