<section id="tools">
    <h2>{{tools.title}}</h2>
    <div class="start-configuration">
        <div class="col-md-5 grid-size">
            {{> label labelText=tools.gridSize.label for="grid-size"}}

            {{> select id="grid-size" name="grid-size" onChange="onChangeGridSize()"
                    script="generateGridSizeOptions()"}}

        </div>
        <div class="col-md-5 adjust-pixel-size">
            {{> label labelText=tools.adjustPixelSize.label for="adjust-pixel-size-input"}}

            <div id="adjust-pixel-size-range" class="adjust-pixel-size-range">
                <span class="min"></span>
                {{> input type="range" id="adjust-pixel-size-input" name="adjust-pixel-size-input"
                        onchange="adaptPixelSizeFromGrid()"}}

                <span class="max"></span>
            </div>
            <script>initializeAdjustPixelSize()</script>
        </div>
    </div>
    <div class="tools">
        <div class="col-md-5 pixel-color">
            {{> label labelText=tools.pixelColor.label for="pixel-color"}}

            {{> input type="color" id="pixel-color" name="pixel-color"}}

        </div>
        <div class="col-md-5 fill">
            {{> label labelText=tools.fill.label for="fill"}}

            {{> input type="checkbox" id="fill" name="fill" onChange="changeTool()"}}

        </div>
    </div>
    {{> modal_for_reset_pixel_art}}

    <div class="reset">
        {{> label labelText=tools.reset.label for="reset"}}

        {{> button buttonText=tools.reset.buttonText type="button" id="reset" name="reset"
                onClick="triggerModalReset()"}}

    </div>
</section>