@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

$small-device-width: 576px;
$medium-device-width: 768px;
$large-device-width: 992px;

$black: #000000;
$white: #ffffff;
$red: #ff0015;

$beige: #ffdd99;
$light-beige: #fff7e5;
$light-blue: #99bbff;
$light-purple: #dd99ff;

$default-pixel-color: $white;
$default-pixel-border: 1px solid $black;

@function input-access($type) {
  @return "input[type="#{$type}"]";
}

$input-checkbox: input-access("checkbox");
$input-color: input-access("color");
$input-text: input-access("text");
$input-submit: input-access("submit");

@mixin same-font-size-and-line-height($size) {
  font-size: $size;
  line-height: $size;
}

@mixin same-height-and-width($size) {
  height: $size;
  width: $size;
}

@mixin same-margin-top-and-bottom($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin element-background($color) {
  background-color: $color;
  border-radius: 5px;
}

@mixin tools-element-background() {
  @include element-background($light-blue);
}

@mixin download-element-background() {
  @include element-background($light-purple);
}

@mixin input-style() {
  background-color: $light-beige;
  cursor: pointer;
  border: $default-pixel-border;
  border-radius: 5px;

  &:hover {
    opacity: 0.8;
  }
}

@mixin deactivate-default-styles() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin add-font-awesome-icon-solid-as-content($icon) {
  @extend %fa-icon;
  @extend .fa-solid;
  content: fa-content($icon);
}

@mixin standard-transition() {
  transition-duration: 0.4s;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  @include same-font-size-and-line-height(20px);
  background-color: $beige;
}

section {
  @include same-margin-top-and-bottom(30px);
}

h1 {
  @include same-font-size-and-line-height(60px);
}

h2 {
  @include same-font-size-and-line-height(40px);
}

h1, h2 {
  font-weight: 300;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

label {
  pointer-events: none;
}

select, #{$input-checkbox}, #{$input-color}, #{$input-text}, #{$input-submit}, .reset > input {
  @include input-style();
}

#{$input-checkbox} {
  @include deactivate-default-styles();
  @include standard-transition();
  display: flex;
  justify-content: center;
  align-items: center;

  &:checked {
    @include standard-transition();
    background-color: $red;
  }
}

#{$input-checkbox}:checked:before {
  @include add-font-awesome-icon-solid-as-content($fa-var-check);
}

#tools > div {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.tools > div {
  @include tools-element-background();
}

.download > div {
  @include download-element-background();
}

.file-name > input {
  width: 65%;
}

.file-type > select {
  width: 35%;
}

.file-name, .file-type {
  align-items: center;
}

.pixel-color {
  input {
    @include standard-transition();
    align-self: center;
    border: none;
    padding: 0;
  }
}

.fill {
  align-items: center;

  input {
    @include same-height-and-width(25px);
  }
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.grid {
  display: flex;
}

.pixel {
  background-color: $default-pixel-color;
  border-top: $default-pixel-border;
  border-left: $default-pixel-border;
  cursor: pointer;
}

.pixel.last-row {
  border-bottom: $default-pixel-border;
}

.pixel.last-column {
  border-right: $default-pixel-border;
}

.tools, .download {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    padding: 10px;

    label {
      margin-bottom: 10px;
      text-align: center;
    }
  }
}

.download > .submit {
  justify-content: center;
  input {
    height: 40px;
  }
}

@media only screen and (max-width: $medium-device-width) {
  body {
    @include same-font-size-and-line-height(15px);
    text-align: center;
  }

  section {
    @include same-margin-top-and-bottom(20px);
  }

  h1 {
    @include same-font-size-and-line-height(45px);
  }

  h2 {
    @include same-font-size-and-line-height(30px);
  }

  h1, h2 {
    margin-bottom: 5px;
  }

  .grid-container {
    margin-bottom: 20px;
  }

  .grid-size, .reset {
    @include tools-element-background();
  }

  .fill > input {
    @include same-height-and-width(20px);
  }

  .tools, .download {
    flex-direction: column;
    align-items: center;

    div {
      margin-bottom: 10px;
      padding: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      label {
        margin-bottom: 5px;
      }
    }
  }

  .download > .submit {
    input {
      height: 30px;
    }
  }
}

