@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

$small-device-width: 576px;
$medium-device-width: 768px;

$black: #000000;
$white: #ffffff;
$red: #ff0015;

$beige: #ffdd99;
$light-beige: #fff7e5;

$light-blue: #99bbff;

$default-pixel-color: $white;
$default-pixel-border: 1px solid $black;

@function input-access($type) {
  @return "input[type="#{$type}"]";
}

$input-checkbox: input-access("checkbox");
$input-color: input-access("color");
$input-text: input-access("text");
$input-submit: input-access("submit");

@mixin same-font-size-and-line-height($size) {
  font-size: $size;
  line-height: $size;
}

@mixin same-height-and-width($size) {
  height: $size;
  width: $size;
}

@mixin same-margin-top-and-bottom($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin tools-element-background() {
  background-color: $light-blue;
  border-radius: 5px;
}

@mixin input-style() {
  background-color: $light-beige;
  cursor: pointer;
  border: $default-pixel-border;
}

@mixin deactivate-default-styles() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin add-font-awesome-icon-solid-as-content($icon) {
  @extend %fa-icon;
  @extend .fa-solid;
  content: fa-content($icon);
}

body {
  font-family: "Trebuchet MS", sans-serif;
  @include same-font-size-and-line-height(20px);
  background-color: $beige;
}

section {
  @include same-margin-top-and-bottom(30px);
}

h1 {
  @include same-font-size-and-line-height(60px);
}

h2 {
  @include same-font-size-and-line-height(40px);
}

h1, h2 {
  font-weight: 300;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

label {
  pointer-events: none;
}

select, #{$input-checkbox}, #{$input-color}, #{$input-text}, #{$input-submit}, .reset-container > input {
  @include input-style();
}

#{$input-checkbox} {
  @include deactivate-default-styles();
  $transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition-duration: $transition-duration;

  &:hover {
    opacity: 0.8;
  }

  &:checked {
    background-color: $red;
    transition-duration: $transition-duration;
  }
}

#{$input-checkbox}:checked:before {
  @include add-font-awesome-icon-solid-as-content($fa-var-check);
}


.container:not(.website-center) {
  padding-left: 0;
  padding-right: 0;
}

.website-center {
  display: flex;
  justify-content: center;
}

.grid-size-container, .tools {
  margin-bottom: 10px;
}

.tools {
  display: flex;

  div {
    padding: 10px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.pixel-color {

  input {
    align-self: center;
    border: none;
    padding: 0;
  }
}

.fill {
  align-items: center;

  input {
    @include same-height-and-width(25px);
  }
}

.pixel-color, .fill {
  display: flex;
  flex-direction: column;
  @include tools-element-background();

  label {
    margin-bottom: 10px;
    text-align: center;
  }
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.grid {
  display: flex;
}

.pixel {
  background-color: $default-pixel-color;
  border-top: $default-pixel-border;
  border-left: $default-pixel-border;
  cursor: pointer;
}

.pixel.last-row {
  border-bottom: $default-pixel-border;
}

.pixel.last-column {
  border-right: $default-pixel-border;
}

.download {
  display: flex;

  div {
    border: $default-pixel-border;
  }
}

@media only screen and (max-width: $medium-device-width) {
  body {
    @include same-font-size-and-line-height(15px);
    text-align: center;
  }

  section {
    @include same-margin-top-and-bottom(20px);
  }

  h1 {
    @include same-font-size-and-line-height(45px);
  }

  h2 {
    @include same-font-size-and-line-height(30px);
  }

  h1, h2 {
    margin-bottom: 5px;
  }

  .grid-container {
    margin-bottom: 20px;
  }

  .grid-size, .reset {
      @include tools-element-background();
  }

  .tools {

    div {
      padding: 5px;
      margin-right: 0;
    }
  }

  .fill {
    input {
      @include same-height-and-width(20px);
    }
  }

  .pixel-color, .fill {

    label {
      margin-bottom: 5px;
    }
  }

  .tools, .download {
    flex-direction: column;
    align-items: center;
  }

  .pixel-color, .fill, .tools, .download {

    div {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

