$black: #000000;
$white: #ffffff;
$red: #ff0015;

$beige: #ffdd99;
$light-beige: #fff7e5;

$light-blue: #99bbff;
$light-purple: #dd99ff;

$default-pixel-color: $white;
$background-color-modal-reset: rgba(0, 0, 0, 0.4);