@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "variables";

@mixin same-font-size-and-line-height($size) {
  font-size: $size;
  line-height: $size;
}

@mixin same-height-and-width($size) {
  height: $size;
  width: $size;
}

@mixin same-margin-top-and-bottom($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin element-background($color) {
  @include default-border-radius();
  background-color: $color;
}

@mixin tools-element-background() {
  @include element-background($light-blue);
}

@mixin download-element-background() {
  @include element-background($light-purple);
}

@mixin input-style() {
  @include default-border-radius();
  background-color: $light-beige;
  cursor: pointer;
  border: $default-border;

  &:hover {
    opacity: 0.8;
  }
}

@mixin deactivate-default-styles() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin deactivate-webkit-appearance() {
  -webkit-appearance: none;
  appearance: none;
}

@mixin deactivate-moz-appearance() {
  -moz-appearance: none;
  appearance: none;
}

@mixin add-font-awesome-icon-solid-as-content($icon) {
  @extend %fa-icon;
  @extend .fa-solid;
  content: fa-content($icon);
}

@mixin button {
  @include input-style();
  padding: 10px;
}

@mixin button-small-device() {
  @include input-style();
  height: 30px;
  padding: 5px;
}

@mixin default-transition() {
  transition-duration: 0.4s;
}

@mixin default-border-radius() {
  border-radius: 5px;
}

@mixin default-button-padding() {
  padding: 10px;
}

@mixin default-button-padding-medium-device() {
  padding: 5px;
}

@mixin default-container-padding() {
  padding: 10px;
}

@mixin default-container-padding-medium-device() {
  padding: 5px;
}

@mixin default-label-margin-bottom-medium-device() {
  margin-bottom: 5px;
}