@import "mixins";
@import "tags";
@import "breakpoints";

body {
  font-family: "Trebuchet MS", sans-serif;
  @include same-font-size-and-line-height(20px);
  background-color: $beige;
}

section {
  @include same-margin-top-and-bottom(30px);
}

h1 {
  @include same-font-size-and-line-height(60px);
}

h2 {
  @include same-font-size-and-line-height(40px);
}

h3 {
  @include same-font-size-and-line-height(30px);
}

h1, h2, h3 {
  font-weight: 300;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

label {
  pointer-events: none;
}

select, #{$input-checkbox}, #{$input-color}, #{$input-text} {
  @include input-style();
}

#{$input-checkbox} {
  @include deactivate-default-styles();
  @include default-transition();
  display: flex;
  justify-content: center;
  align-items: center;

  &:checked {
    @include default-transition();
    background-color: $red;
  }
}

#{$input-checkbox}:checked:before {
  @include add-font-awesome-icon-solid-as-content($fa-var-check);
}

#{$input-range} {
  @include deactivate-default-styles();
  align-self: center;
  border-radius: 5px;
  height: 5px;
  width: 40%;
  background-color: $light-beige;
  cursor: pointer;

  &::-webkit-slider-thumb {
    @include deactivate-webkit-appearance();
    background-color: $beige;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    &:hover {
      opacity: 0.95;
    }
  }
}

#tools > div {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.start-configuration > div, .tools > div, {
  @include tools-element-background();
}

.adjust-pixel-size-range {
  display: flex;
  justify-content: center;

  input {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.download > div {
  @include download-element-background();
}

.file-name > input {
  width: 65%;
}

.file-type > select {
  width: 40%;
}

.file-name, .file-type {
  align-items: center;
}

.pixel-color {

  input {
    @include default-transition();
    align-self: center;
    border: none;
    padding: 0;
    height: 25px;
    width: 50px;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: $default-border;
      border-radius: 5px;
    }
  }
}

.pixel-color > label {
  margin-bottom: 20px;
}

.fill {
  align-items: center;

  input {
    @include same-height-and-width(25px);
  }
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.grid {
  display: flex;
}

.pixel {
  background-color: $default-pixel-color;
  border-top: $default-border;
  border-left: $default-border;
  cursor: pointer;
}

.pixel.last-row {
  border-bottom: $default-border;
}

.pixel.last-column {
  border-right: $default-border;
}

.start-configuration, .tools, .download {
  display: flex;
  justify-content: space-between;

   > div {
    display: flex;
    flex-direction: column;
    padding: 10px;

    label {
      margin-bottom: 10px;
      text-align: center;
    }
  }
}

.grid-size > select {
  width: 35%;
  align-self: center;
}

.download > .submit {
  justify-content: center;
}

.reset > button, .download > .submit > button {
  @include button();
}

.download > .submit > button {
  align-self: center;
}

.download > .submit > button:after {
  @include add-font-awesome-icon-solid-as-content($fa-var-file-arrow-down);
}

.reset > button:after, .modal-reset > .reset-button:after {
  @include add-font-awesome-icon-solid-as-content($fa-var-arrow-rotate-left);
  margin-left: 5px;
}

#modal-reset {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.modal-reset {
  background-color: $light-beige;
  margin: 100px 100px 0 100px;
  border-radius: 5px;
  padding: 10px;

  p {
    margin-bottom: 10px;
  }

  button {
    @include input-style();
    @include default-transition();
    padding: 10px;

    &:hover {
      @include default-transition();
    }
  }

  .reset-button:hover {
    background-color: $red;
    border-color: $red;
    color: $light-beige;
  }
}

@media only screen and (max-width: $medium-device-width) {
  body {
    @include same-font-size-and-line-height(15px);
    text-align: center;
  }

  section {
    @include same-margin-top-and-bottom(20px);
  }

  h1 {
    @include same-font-size-and-line-height(45px);
  }

  h2 {
    @include same-font-size-and-line-height(30px);
  }

  h3 {
    @include same-font-size-and-line-height(22px);
  }

  h1, h2, h3 {
    margin-bottom: 5px;
  }

  #{$input-range} {
    height: 2px;

    &::-webkit-slider-thumb {
      height: 15px;
      width: 15px;
    }
  }

  .grid-container {
    margin-bottom: 20px;
  }

  .grid-size, .reset {
    @include tools-element-background();
  }

  .start-configuration, .tools, .download {
    flex-direction: column;

    > div {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      label {
        margin-bottom: 5px;
      }
    }
  }

  .reset, .start-configuration > div, .tools > div, .download > div, .modal-reset {
    padding: 5px;
  }

  .reset {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
    }

    button {
      align-self: center;
    }
  }

  .reset > button, .download > .submit > button {
    @include button-small-device();

    &:after {
      margin-left: 5px;
    }
  }

  .modal-reset {
    margin: 50px 50px 0 50px;

    p {
      margin-bottom: 5px;
    }

    button {
      @include button-small-device();
      padding: 5px;
    }

  }

  .adjust-pixel-size-range {
    input {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: $small-device-width) {
  .modal-reset > .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}