@function input-access($type) {
  @return "input[type="#{$type}"]";
}

$input-checkbox: input-access("checkbox");
$input-color: input-access("color");
$input-text: input-access("text");
$input-range: input-access("range");